/* line 1, ../compass/sass/code-description.scss */
.line-count {
  text-align: right;
  color: #BDBDBE;
}

/* line 6, ../compass/sass/code-description.scss */
.code-font {
  font-size: 13px;
  font-family: 'Source Code Pro';
}

/* line 10, ../compass/sass/code-description.scss */
.sub-r {
  color: red;
  font-weight: 500;
}

/* line 15, ../compass/sass/code-description.scss */
.sub-g {
  color: #00C851;
}

/* line 19, ../compass/sass/code-description.scss */
.sub-y {
  color: yellow;
}

/* line 23, ../compass/sass/code-description.scss */
.sub-b {
  color: #4099ff;
}

/* line 27, ../compass/sass/code-description.scss */
.sub-p {
  color: #75689B;
}
