/* line 5, ../compass/sass/portfolio1.scss */
.sublime-wrapper {
  height: 100vh;
  padding: 0;
  margin: 0;
}
/* line 9, ../compass/sass/portfolio1.scss */
.sublime-wrapper .sublime-header {
  height: 100px;
  background-color: #171814;
  padding: 0;
  margin: 0;
  position: relative;
}
/* line 15, ../compass/sass/portfolio1.scss */
.sublime-wrapper .sublime-header .tabs {
  position: absolute;
  bottom: -1px;
  left: 34px;
}
/* line 19, ../compass/sass/portfolio1.scss */
.sublime-wrapper .sublime-header .tabs .each-tab {
  margin: 3px;
  color: white;
  display: inline-block;
  margin-bottom: 0;
}
/* line 27, ../compass/sass/portfolio1.scss */
.sublime-wrapper .sublime-header .tabs:hover {
  cursor: pointer;
}
/* line 32, ../compass/sass/portfolio1.scss */
.sublime-wrapper .sublime-body {
  border-top: 1px solid lightgrey;
  background-color: #272822;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: white;
  padding-top: 7px;
}

/* line 46, ../compass/sass/portfolio1.scss */
.sublime-active .each-tab {
  background-color: white;
}
